html, body {
    margin: 0;
    padding: 0;
    
    
    
}
body {
    background-color: #ffffff; /* Fondo blanco */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* --------------------------------------------------------------------------------------------------------------------------*/
/* Estilo general del nav */
nav {
    background-color: rgb(0,0,0,0.6); /* Lila */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden; /* Asegura que el contenido no se desborde horizontalmente */
    box-sizing: border-box; /* Incluye padding en el ancho total del elemento */

}

/* Logo en el nav */
nav .logo {
    height: 55px;
    border-radius: 50%;
}

/* Contenedor de botones */
nav .botones-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Botones en el nav */
nav .botones {
    display: flex;
}

nav .botones a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 8px 16px; /* Añade padding para mayor área clicable */
    transition: background-color 0.3s;
    font-size: 20px;
    white-space: nowrap; /* Evita que el texto se ajuste en varias líneas */
}


nav .botones a:hover {
    background-color: #B695C0;
}

/* Links en el nav */
nav .links {
    display: flex;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

/* Imagenes dentro del nav */
nav .links img {
    height: 40px;
    border-radius: 50%;
    padding: 0; /* Elimina padding para alinear correctamente */
}

/* Botón de email en el nav */
nav .links .email {
    background-color: #09f;
    border-radius: 10px;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
/* --------------------------------------------------------------------------------------------------------------------------*/
.minuevo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    animation: nuevo_animacion 1s ease-out forwards;
}

@keyframes nuevo_animacion {
    0% {
        opacity: 0;
        transform: translate(10px, 20px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* En su posición original */
    }
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    z-index: -1; /* Asegura que el contenido esté por encima del video */
    pointer-events: none; /* Asegura que el video no interfiera con la interacción del usuario */
}

.minuevo .content {
    position: relative;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center;
    align-items: center; /* Centra el contenido horizontalmente */
    z-index: 1;
    width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    text-align: center;
    
    
}

.minuevo .titulo {
    font-size: 25px;
    border-radius: 20px;
    padding: 2%;
    background-color: #b694c187;
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

.minuevo p {
    font-size: 18px;
    border-radius: 20px;
    padding: 2%;
    background-color: #b694c187;
    margin: 0; /* Elimina el margen superior para evitar colisiones */
    height: 300px;
}
/* --------------------------------------------------------------------------------------------------------------------------*/
.presentacion-container {
    position: relative;
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: space-between; /* Espacia los elementos de manera uniforme */
    padding: 10px;
    margin: 20% auto; /* Aplica margen superior e inferior, y centra el contenedor horizontalmente */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    text-align: left; /* Alinea el texto a la izquierda */
    width: 72%; /* Deja espacio alrededor ajustando el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    height: 450px;
    animation: nuevo_animacion 1s ease-out forwards;
    
    
}
.parent-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente, si es necesario */
    width: 100%;
    box-sizing: border-box;
}



/* Imagen dentro del contenedor */
.presentacion-container img {
    max-width: 40%; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 20px; /* Redondea las esquinas de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    object-fit: cover; /* Mantiene la proporción de la imagen y cubre el área */
}

/* Contenedor del contenido de texto */
.presentacion-container .contenido {
    max-width: 55%; /* Limita el ancho máximo del contenido */
    display: flex;
    flex-direction: column; /* Alinea el título y el texto en columna */
}

/* Título */
.presentacion-container .titulo {
    font-size: 25px;
    margin-bottom: 10px; /* Espacio debajo del título */
    color: rgb(0, 0, 0);
}
.presentacion-container .texto {
    font-size: 18px;
    border-radius: 20px;
    padding: 2%;
    background-color: #b694c187;
    margin: 0; /* Elimina el margen superior para evitar colisiones */
    height: 300px;
}

/* --------------------------------------------------------------------------------------------------------------------------*/
.contacto {
    position: relative;
    display: flex;
    flex-direction: column; /* Cambiado a columna para que el formulario no se rompa en pantallas más pequeñas */
    align-items: center;
    justify-content: center; /* Centra el formulario en la página */
    padding: 20px;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    text-align: center;
    width: 90%; /* Aumentado para que se vea mejor en pantallas más pequeñas */
    max-width: 800px; /* Limita el ancho máximo en pantallas grandes */
    box-sizing: border-box;
    height: auto; /* Permite que la altura se ajuste al contenido */
    view-timeline-name: --formulario;
    view-timeline-axis: block;
    
    animation-timeline: --formular ;
    animation-name: show;

}

.contacto h2 {
    text-align: center;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px; /* Añadido para dar espacio debajo del título */
}

.form {
    background-color: #ffffff;
    margin: auto;
    width: 100%; /* Aumentado a 100% para ocupar el ancho del contenedor padre */
    max-width: 500px; /* Limita el ancho máximo en pantallas grandes */
    padding: 20px; /* Aumentado para dar más espacio interno */
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: formulario_animacion;
}

.form__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0f0d10;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.form__container {
    display: grid;
    gap: 20px; /* Aumentado el espacio entre los campos del formulario */
}

.form__group {
    position: relative;
}

.form__input {
    width: 95%; /* Aumentado a 100% para ocupar todo el ancho disponible */
    background: #ffffff;
    color: #333;
    font-weight: 100%;
    font-size: 16px;
    padding: 15px;
    margin-top: 7px;
    border: 1px solid #B695C0;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form__input::placeholder {
    color: #6c7a92;
}

.form__input:focus {
    border-color: #B695C0;
    box-shadow: 0 0 8px rgba(182, 149, 192, 0.3);
}

.form__submit {
    background-color: #B695C0;
    color: #ffffff;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Aumentado a 100% para que ocupe todo el ancho disponible */
}

.form__submit:hover {
    background-color: #a07d9e;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #B695C0;
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform 0.3s;
}

.form__input:focus + .form__line {
    transform: scale(1);
}
.form__captcha {
    width: 40%; /* Asegura que el captcha ocupe todo el ancho disponible */
    margin-bottom: 20px; /* Añade espacio debajo del captcha */
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes show {

    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
.contacto.show {
    animation: nuevo_animacion 0.5s ease-out forwards;
}




@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
       
    
}

  

.success-message {
    background-color: rgba(40, 167, 69, 0.1);
    color: #28a745;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
    border: 1px solid rgba(40, 167, 69, 0.3);
    display: inline-block;
}

footer{

    background-color: black;
    align-items: center;
    



}


footer .redes{
    margin: 10%;
    padding: auto;



}

/*-----------------------------------------------------------------------------------------------*/

@media (max-width: 510px) {
    #video-container {
        width: 100vw; /* Asegura que el contenedor ocupe todo el ancho de la ventana */
        height: 100vh; /* Asegura que el contenedor ocupe todo el alto de la ventana */
    }

    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Mantiene el video cubriendo toda la pantalla */
    }
    
}

@media (max-width: 768px) {
    .presentacion-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        margin: 2% auto; /* Centra y deja espacio en ambos lados */
        align-items: center; /* Asegura que los elementos estén centrados verticalmente */
    }

    .presentacion-container img {
        max-width: 100%; /* Asegura que la imagen ocupe el ancho completo disponible */
        margin-right: 0; /* Elimina el margen derecho en pantalla pequeña */
        margin-bottom: 20px; /* Añade margen inferior para separar la imagen del texto */
    }

    .presentacion-container .contenido {
        max-width: 100%; /* Asegura que el contenido ocupe el ancho completo disponible */
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
}

@media (max-width:975px) {

    .minuevo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }
    
    #background-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Asegura que el video cubra todo el contenedor */
        z-index: -1; /* Asegura que el contenido esté por encima del video */
        pointer-events: none; /* Asegura que el video no interfiera con la interacción del usuario */
    }
    
    
    .minuevo .content {
        position: relative;
        display: flex;
        flex-direction: column; /* Alinea los elementos en columna */
        justify-content: center;
        align-items: center; /* Centra el contenido horizontalmente */
        z-index: 1;
        width: 70%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 30px;
        text-align: center;
        
        
    }
    
    .minuevo .titulo {
        font-size: 25px;
        border-radius: 20px;
        padding: 2%;
        background-color: #b694c187;
        margin-bottom: 20px; /* Añade espacio debajo del título */
    }
    
    .minuevo p {
        font-size: 15px;
        border-radius: 20px;
        padding: 2%;
        background-color: #b694c187;
        margin: 0; /* Elimina el margen superior para evitar colisiones */
        height: auto;
    }




}
@media (max-width: 1000px) {
    .presentacion-container {
        position: relative;
        display: flex;
        flex-direction: column; /* Cambia a columna para pantallas pequeñas */
        align-items: center; /* Centra los elementos en columna */
        justify-content: center; /* Centra el contenido */
        padding: 20px;
        margin: 2% auto; /* Mantiene el centrado del contenedor */
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 30px;
        text-align: left;
        width: 90%; /* Aumenta el ancho para aprovechar más espacio en pantallas pequeñas */
        box-sizing: border-box;
        height: auto; /* Permite que la altura se ajuste al contenido */
    }
    
    .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    /* Imagen dentro del contenedor */
    .presentacion-container img {
        max-width: 100%; /* Permite que la imagen ocupe todo el ancho disponible */
        height: auto;
        border-radius: 20px;
        margin-bottom: 20px; /* Añade espacio debajo de la imagen */
        object-fit: cover;
    }
    
    /* Contenedor del contenido de texto */
    .presentacion-container .contenido {
        max-width: 100%; /* Permite que el texto ocupe todo el ancho disponible */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el texto dentro del contenedor */
    }
    
    /* Título */
    .presentacion-container .titulo {
        font-size: 22px; /* Ajusta el tamaño del título para pantallas pequeñas */
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        text-align: center; /* Centra el título */
    }
    
    .presentacion-container .texto {
        font-size: 16px; /* Ajusta el tamaño del texto */
        border-radius: 20px;
        padding: 2%;
        background-color: #b694c187;
        margin: 0;
        height: auto; /* Permite que la altura se ajuste al contenido */
        text-align: justify; /* Justifica el texto */
    }
}
@media (max-width: 635px) {
    .contacto {
        width: 95%; /* Ajusta el ancho del contenedor para pantallas pequeñas */
        margin: 5% auto; /* Centra el contenedor y añade espacio alrededor */
        padding: 15px; /* Reduce el padding para evitar que se vea muy apretado */
    }

    .form {
        width: 85%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
        max-width: 100%; /* Elimina la limitación del ancho máximo */
        padding: 2%; /* Reduce el padding para un mejor ajuste en pantallas pequeñas */
    }

    .form__input {
        width: 90%; /* Hace que los inputs ocupen todo el ancho disponible */
        font-size: 14px; /* Reduce ligeramente el tamaño de fuente para que se ajuste mejor */
        padding: 12px; /* Ajusta el padding para mantener un buen diseño */
    }

    .form__submit {
        width: 100%; /* Asegura que el botón de envío ocupe todo el ancho disponible */
        font-size: 16px; /* Ajusta el tamaño de fuente del botón */
        padding: 12px; /* Reduce el padding para un mejor ajuste */
    }

    .form__captcha {
        width: 100%; /* Asegura que el captcha ocupe todo el ancho disponible */
        margin-bottom: 15px; /* Ajusta el espacio debajo del captcha */
    }
}



@media (max-width: 693px) {
    nav {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        box-sizing: border-box;
    }

    nav .logo {
        display: none;
    }

    nav .botones-container {
        display: flex;
        flex-wrap: wrap; /* Permite que los botones se envuelvan si es necesario */
        justify-content: center;
    }
    
    nav .botones a {
        font-size: 18px;
        padding: 8px 12px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 5px; /* Espacio entre botones */
    }
    
/* Estilos generales del nav */
nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    box-sizing: border-box;
}

/* Logo en el nav */
nav .logo {
    height: 55px;
    border-radius: 50%;
}

/* Contenedor de botones */
nav .botones-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

/* Botones en el nav */
nav .botones {
    display: flex;
}

/* Botón de presentación centrado */
nav .botones .presentacion-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B695C0; /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 8px 16px;
    transition: background-color 0.3s;
    font-size: 20px;
    white-space: nowrap;
}

/* Estilo del botón de presentación en hover */
nav .botones .presentacion-btn:hover {
    background-color: #a07d9e;
}

/* Links en el nav */
nav .links {
    display: flex;
    align-items: center;
}

/* Enlaces dentro del nav */
nav .links a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

/* Imágenes dentro del nav */
nav .links img {
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

/* Botón de email en el nav */
nav .links .email {
    background-color: #09f;
    border-radius: 10px;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

    
    

    /* Ocultar los botones de WhatsApp y email */
    nav .links {
        display: none;
    }

    nav .links a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
        font-size: 14px;
    }

    nav .links img {
        height: 35px;
        border-radius: 50%;
    }

    nav .links .email {
        background-color: #09f;
        border-radius: 10px;
        padding: 6px 12px;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
}

@media (min-width: 1125px) {
    .contacto {
        position: relative;
        display: flex;
        flex-direction: column; /* Cambiado a columna para que el formulario no se rompa en pantallas más pequeñas */
        align-items: center;
        justify-content: center; /* Centra el formulario en la página */
        padding: 1%;
        margin: 2% auto;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 30px;
        text-align: center;
        width: 35%; /* Aumentado para que se vea mejor en pantallas más pequeñas */
        max-width: 800px; /* Limita el ancho máximo en pantallas grandes */
        box-sizing: border-box;
        height: auto; /* Permite que la altura se ajuste al contenido */
    }
    .form {
        background-color: #ffffff;
        margin: auto;
        width: 80%; /* Aumentado a 100% para ocupar el ancho del contenedor padre */
        align-items: center;
        padding: 20px; /* Aumentado para dar más espacio interno */
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }



    .form__input {
        width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
        background: #ffffff;
        color: #333;
        font-size: 16px;
        padding: 1%px;
        margin-top: 0;
        border: 1px solid #B695C0;
        border-radius: 8px;
        outline: none;
        box-sizing: border-box; /* Incluye padding y borde en el ancho total */
        transition: border-color 0.3s, box-shadow 0.3s;
    
    }

    .form__captcha {
        margin-bottom: 15px; /* Reduce el espacio debajo del captcha */
    }
}


    
